.container{
    padding: 50px;
    border: 30px;
    

.Titulo{
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr;
    gap: 230px;
    background-color: #003878;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px;
}

.image-profile{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    height:170.98px;
    width: 132.28px;
    position: start;
    
}

.nombre{
    grid-column-start: 2;
    grid-row-start: 1;
    font-family: helvetica;
    font-size: 50px;
}

.informacion-de-contacto{
    display: flex;
    justify-content: space-around;
    font-family: arial;
    font-size: 10px;
    gap: 30px;
}


.descripcion-de-perfil{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    width: 90%;
    align-items: center;
    margin: 0 auto;

    
}

.acerca-de-mi{
    display: grid;
    display: inline-block;
    background-color: black;
    width: fit-content;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: tahoma;
    font-weight: bold;
    height: fit-content;
    color: antiquewhite;
    margin: 0 0 5px 0;
    
   
}

.profile-description{
    
    font-family: arial;
    font-size: 12px;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-items: start;
    align-content: start;
    margin: auto 0

}

.experiencia-laboral{
display: flex;
flex-direction: column;
margin: 0;
justify-content: center;
width: 70%;
padding: 0 0 0 100px;
}

.canasta-de-trabajo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    margin: 0;
    width: auto;
    height: auto;
    
}

.encabezado-laboral{    
    display: inline-block;
    background-color: black;
    width: fit-content;
    font-family: tahoma;
    color: white;
    }

.nombre-de-empresa{
    display: grid;
    justify-content: start;
    grid-column: 1;
    grid-row: 1;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    height: fit-content;

}

.nombre-de-puesto{
    display: grid;
    justify-content: start;
    font-family: tahoma;
    font-size: 14px;
    grid-column: 1;
    grid-row: 2;
    margin: 0 0 0 0;
    
}

.periodo-de-trabajo{
    display: grid;
    justify-content: end;
    grid-column: 2;
    grid-row: 1;
    font-family: tahoma;
    font-size: 14px;
    font-weight: bold;
    margin: 0;

}

.tareas-del-puesto{
    display: grid;
    justify-content: start;
    grid-row: 3;
    grid-column: 1;
    font-family: tahoma;
    font-size: 14px;

    margin: 0 0 20px 0;
}

.educacion{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    width: 70%;
    padding: 0 0 0 100px;
    
    
}

.encabezado-educacion{
    display: inline-block;
    background-color: black;
    width: fit-content;
    font-family: tahoma;
    color: white;
}


.canasta-de-educacion{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    height: 10%;
    

}

.nombre-de-institucion{
    display: grid;
    justify-content: start;
    grid-column: 1;
    grid-row: 1;
    font-family: helvetica;
    font-size: 14px;
    font-family: tahoma;
    font-weight: bold; 
    align-items: end;
    margin: 0 0 10px 0;
    
    
}

.periodo-de-educacion{
    display: grid;
    justify-content: end;
    grid-column: 2;
    grid-row: 1;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    align-items: end;
    margin: 0;
    font-family: tahoma;
    
}

.titulo-de-educacion{
    display: grid;
    justify-content: start;
    font-family: helvetica;
    font-size: 14px;
    grid-column: 1;
    grid-row: 2;
    align-items: start;
    margin: 0;
    font-family: tahoma;
    
}

.competencias{
    display: grid;
    width: 70;
    margin: 0;
    padding: 0 0 0 100px
}

.canasta-de-competencias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

.encabezado-competencias{
    display: grid;
    display: inline-block;
    background-color: black;
    width: fit-content;
    font-family: Tahoma;
    color: white;
}

.skills{
    font-family: Tahoma;
    font-size: 14px;
}

