.container{
    padding: 30px;
    border: 10px;
    border-color: darkblue
}

.Titulo{
    display: flex;
    flex-direction: row;
    gap: 230px;
    background-color: darkblue;
    justify-content: flex-start;
    align-items: center;
    
}

.image-profile{
    height:170.98px;
    width: 132.28px;
}

.nombre{

    font-family: helvetica;
    font-size: 50px;
}

.informacion-de-contacto{
    display: flex;
    justify-content: space-around;
    font-family: arial;
    font-size: 10px;
    gap: 30px;
}

.descripcion-de-perfil{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}

.acerca-de-mi{
    font-size: 12px;
    font-family: helvetica;
    font-weight: bold;
    
}

.profile-description{
    font-family: arial;
    font-size: 12px;

}