.container{
    padding: 60px;
    border: 10px;
    border-color: darkblue
}

.Titulo{
    display: flex;
    flex-direction: row;
    gap: 230px;
    background-color: darkblue;
    justify-content: flex-start;
    align-items: center;
    
}

.image-profile{
    height:170.98px;
    width: 132.28px;
}

.nombre{

    font-family: helvetica;
    font-size: 50px;
}

.informacion-de-contacto{
    display: flex;
    justify-content: space-around;
    font-family: arial;
    font-size: 10px;
    gap: 30px;
}

.descripcion-de-perfil{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}

.acerca-de-mi{
    font-size: 12px;
    font-family: helvetica;
    font-weight: bold;
    
}

.profile-description{
    font-family: arial;
    font-size: 12px;

}

.experiencia-laboral{
display: flex;
flex-direction: column;
margin: 0;
}

.canasta-de-trabajo{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 3fr;
    margin: 0;
}

.nombre-de-empresa{
    grid-column: 1;
    grid-row: 1;
    font-family: helvetica;
    font-size: 16px;
    font-weight: bold;

}

.nombre-de-puesto{
    font-family: helvetica;
    font-size: 14px;
    grid-column: 1;
    grid-row: 2;
}

.periodo-de-trabajo{
    grid-column: 3;
    grid-row: 1;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;

}

.tareas-del-puesto{
    grid-row: 3;
    grid-column: 1;
    font-family: arial;
    font-size: 12px;
}

.educacion{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    width: 70%;
    padding: 0 0 0 100px;
}

.canasta-de-educacion{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    height: 10%;
    

}

.nombre-de-institucion{
    display: grid;
    justify-content: start;
    grid-column: 1;
    grid-row: 1;
    font-family: helvetica;
    font-size: 16px;
    font-weight: bold; 
    align-items: end;
    margin: 0, 0, 10px, 0;
    
}

.periodo-de-educacion{
    display: grid;
    justify-content: end;
    grid-column: 2;
    grid-row: 1;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bold;
    align-items: end;
    margin: 0;
    
}

.titulo-de-educacion{
    display: grid;
    justify-content: start;
    font-family: helvetica;
    font-size: 14px;
    grid-column: 1;
    grid-row: 2;
    align-items: start;
    margin: 0;
    
}